.OrgSection {
    will-change: box-shadow;
    transition: box-shadow 0ms;
    border: 1px solid rgba(var(--accentColor), 0.1);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    content-visibility: auto;
    z-index: 1;

    h1 {
        font-weight: 600;
        line-height: 1.4;
        margin: 0;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    h2 {
        font-weight: 500;
        line-height: 1.2;
        margin: 0;
    }
    p {
        font-weight: 400;
        line-height: 1;
    }
    h1,
    h2,
    p {
        will-change: font-weight, font-style;
        transition:
            font-weight 250ms ease-in-out,
            font-style 250ms ease-in-out;
    }
    &:hover {
        box-shadow: 0 0 0 2px rgba(var(--accentColor), 1);
        h1 {
            color: rgb(var(--accentColor));
            font-weight: 800;
            font-style: oblique;
        }
        h2 {
            color: rgb(var(--accentColor));
            font-weight: 700;
        }
    }
}
