.EventCard {
  @media (prefers-color-scheme: dark) {
    background-color: var(--mantine-color-dark-filled);
  }
  &:hover {
    .EventTitle {
      font-weight: 700;
    }
  }
}

.EventTitle {
  transition: font-weight 200ms ease-in-out;
  will-change: font-weight;
}
