.Modal {
  section {
    min-width: 50vw;
    > div {
      padding: 0.6rem;
    }
    @media screen and (max-width: 960px) {
      min-width: 95vw;
    }
  }
  > div:not([data-fixed="true"]) {
    left: 0;
  }
}
