.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: clamp(360px, 600px, 60%);
  margin: 0 auto;
  position: relative;
  background: var(--bgColor);
}

.Input {
  width: 100%;
  font-size: 18px;
  border-radius: 12px;
  border: 1px solid var(--accentColor);
  padding: 0.4rem 0.8rem;
  box-shadow: 0 0 12px -6px var(--accentColor);

  &:focus,
  &:hover {
    outline: none;
    box-shadow: 0 0 16px -4px var(--accentColor);
  }
}
