a {
  color: rgb(var(--accentColor));
  transition: color 50ms linear;
}

a:hover {
  color: var(--accentColor);
}

main {
  width: 100%;
  margin: 0 auto;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), minmax(0, 1fr));
  gap: 2rem;
  padding-bottom: 8rem;
}
