@import "tailwindcss";

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

* {
  box-sizing: border-box !important;
}

:root {
  font-family: "Recursive", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --gridColumns: 3;
  --accentColor: 64, 50, 142;
  accent-color: rgba(var(--accentColor), 1);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accentColor: 35, 206, 107;
  }
}

#root {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-synthesis: none;
  font-optical-sizing: none;
  font-family:
    Recursive,
    system-ui,
    -apple-system,
    monospace;
}

body {
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
