@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

:root {
  --accentColor: var(--mantine-primary-color-8);
  accent-color: var(--accentColor);
  line-height: 1.5;
  font-weight: 400;
  --textColor: #333333;
  --bgColor: #fafafa;
  color-scheme: light dark;
  --mantine-color-text: var(--textColor) !important;
  --mantine-color-body: var(--bgColor) !important;

  * {
    box-sizing: border-box !important;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

h1,
h2 {
  color: var(--mantine-primary-color-8);
}

h1 {
  font-size: 2.6em;
  line-height: 1.1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accentColor: var(--mantine-primary-color-8);
    --textColor: #fafafa;
    --bgColor: #242424;
    --mantine-color-text: var(--textColor) !important;
    --mantine-color-body: var(--bgColor) !important;
  }
  h1,
  h2 {
    color: var(--mantine-primary-color-2);
  }
}

#root {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-synthesis: none;
  font-optical-sizing: none;
  font-family:
    Recursive,
    system-ui,
    -apple-system,
    monospace;
}

body {
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 819px) {
  body {
    padding: 0 2rem 0 2rem !important;
  }
  header h1 {
    font-size: 2.4rem;
  }
}
@media (min-width: 820px) {
  body {
    padding: 0 3rem 0 3rem !important;
  }
  header h1 {
    font-size: 2.8rem;
  }
}
@media (min-width: 1280px) {
  body {
    padding: 0 6rem 0 6rem !important;
  }
  header h1 {
    font-size: 3.2rem;
  }
}
