@reference "tailwindcss";

.Checkbox {
  input,
  label {
    cursor: pointer;
  }
  &.Required {
    label:after {
      @apply text-xs;
      margin-left: 0.2rem;
      content: "* (Obrigatório)";
      color: red;
    }
  }
}

.CardTitle {
  display: grid;
  grid-template-columns: 40px minmax(0, 1fr);
  gap: 0.5rem;
}

.CardInfo {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 0.5rem;
}
