.Badge {
    --instagram: #ffebfa;
    --whatsapp: #e4f3e5;
    --tiktok: #ebebeb;
    --youtube: #f5dddd;
    --externalLink: #ebebeb;

    height: 32px;
    width: 32px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    .Link {
        aspect-ratio: 1/1;
        height: 24px;
        display: inline-block;
    }

    &.instagram {
        background-color: var(--instagram);
    }
    &.whatsapp {
        background-color: var(--whatsapp);
    }
    &.tiktok {
        background-color: var(--tiktok);
    }
    &.youtube {
        background-color: var(--youtube);
    }
    &.externalLink {
        background-color: var(--externalLink);
    }

    @media (prefers-color-scheme: dark) {
        & {
            --instagram: #3c3c3c;
            --whatsapp: #3c3c3c;
            --tiktok: #3c3c3c;
            --youtube: #3c3c3c;
            --externalLink: #3c3c3c;
        }
    }
}
