@import url("https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CRSV,MONO@-15..0,300..800,0,0..1&display=swap");

@font-face {
    src: url("https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CRSV,MONO@-15..0,300..800,0,0..1&display=swap");
    font-family: "Recursive";
}

* {
    box-sizing: border-box;
}

:root {
    --gridColumns: 3;
    --accentColor: 64, 50, 142;
    accent-color: rgba(var(--accentColor), 1);
}

@media (prefers-color-scheme: dark) {
    :root {
        --accentColor: 35, 206, 107;
    }
}

#root {
    position: relative;
    width: 100%;
    min-height: 100vh;
    font-synthesis: none;
    font-optical-sizing: none;
    font-family:
        Recursive,
        system-ui,
        -apple-system,
        monospace;
}

body {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    margin: 0;
    padding: 0 6rem 0 6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

a {
    color: rgb(var(--accentColor));
    transition: color 50ms linear;
}
a:hover {
    color: rgba(var(--accentColor), 0.6);
}

main {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(var(--gridColumns), minmax(0, 1fr));
    gap: 2rem;
    padding-bottom: 8rem;
}

@media (max-width: 819px) {
    :root {
        --gridColumns: 1;
    }
}
@media (min-width: 820px) {
    :root {
        --gridColumns: 2;
    }
}
@media (min-width: 1280px) {
    :root {
        --gridColumns: 3;
    }
}
@media (min-width: 1600px) {
    :root {
        --gridColumns: 4;
    }
}
